@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

.portfolio {
    font-size: 1rem;
    color: #fff;
    background-color: #000;
    font-family: 'Source Code Pro', monospace;
    margin-top: 3rem;
}

@media only screen and (min-width: 768px) {
    .container {
        max-width: 1400px;
        margin: auto;
    }
}

.row {
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 768px) {
    .row {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1rem;
}

h2 {
    border-bottom: 1px solid #fff;
    max-width: fit-content;
    font-size: 2.5rem;
}

h3 {
    font-size: 1.75rem;
    color: #fe75c7;
}

ul {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.no-top {
    margin-top: 0;
    padding-top: 0;
}

li {
    margin-bottom: 1rem;
    color: #f8f207;
}

li span {
    color: #fff;
}

a {
    color: #0bc8f4;
    text-decoration: none;
    position: relative;
}

p {
    line-height: 1.5;
}

.info {
    @media only screen and (min-width: 768px) {
        padding: 2rem 2rem;
        max-width: 65%;
    }
}

.text-center {
    text-align: center;
}

.sub-text {
    margin-top: -2rem;
}

a::after {
    content: '';
    border-bottom: 1px solid #0bc8f4;
    top: 1.4rem;
    position: absolute;
    width: 100%;
    display: block;
    left: 0;

}

a:hover:after {
    color: #f8f207;
    border-bottom: 1px solid #f8f207;
    opacity: .8;
}

a:hover {
    color: #f8f207;
    opacity: .8;
}

.card {
    padding: 0 1.5rem;
}

/* For desktop: */
[class*="col-"] {
    width: 100%;
    margin: auto;
}

@media only screen and (min-width: 768px) {

    .col-6 {
        width: 50%;
        padding: 2rem;
        box-sizing: border-box;
        margin-top: 0;
    }

    .col-8 {
        width: 75%;
        margin: 3rem auto;

    }

    .col-12 {
        width: 100%;
        margin: auto;
    }
}